:global {
  .root {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  ul {
    flex: 1 0 0;
    li {
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      textarea {
        height: 100%;
        resize: none;
        flex: 1 0 0;
        box-sizing: border-box;
      }
    }
  }
  .filepond--credits {
    display: none;
  }
  .filepond--root {
    height: 100%;
    flex: 1 0 0;
  }
  .filepond--drop-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}